html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** Reset para REMS - 62.5% = 10px de 16px **/
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  overflow-x: hidden; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

.master {
  /* Estilos de grilla */
  display: grid;
  grid-template-areas: "header" "main" "video" "imagen-contacto" "nosotros" "footer"; }

.sucursal {
  display: grid;
  grid-template-areas: "nombre" "datos" "foto" "mapa";
  padding-bottom: 40px;
  margin-bottom: 10px; }

.marcas {
  display: grid;
  grid-template-areas: "marca marca";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 2;
  /* ayudar al footer que se mantenga al final de la pagina */
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

/*GLOBALES*/
img {
  max-width: 100%; }

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto; }

/* Posicionar el footer siempre abajo */
#footer {
  position: fixed;
  bottom: 0; }

/*UTILIDADES*/
.seccion {
  margin-top: 3rem;
  margin-bottom: 4rem; }

.fw-300 {
  font-size: 3rem;
  margin: 1.5rem 0; }

.centrar-texto {
  text-align: center; }

/* BOTONES */
.boton, .boton-contacto {
  text-decoration: none;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10px; }

.boton-contacto {
  color: #ffffff;
  background-color: #2a91f1; }

/* HEADER */
header {
  grid-area: header; }

.encabezado {
  background-color: #005bb1;
  padding: 2rem 3rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center; }
  .encabezado .inicio {
    background-color: #2a91f1;
    height: 300px; }

.secundario {
  background-color: #005bb1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo {
  grid-area: logo; }

.slogan {
  grid-area: slogan;
  color: #dd0f0f;
  font-family: "Zhi Mang Xing", cursive;
  font-style: italic;
  display: flex;
  justify-content: center; }

.navegacion {
  grid-area: navegacion; }

/*NAVEGACION*/
/* Barra navegacion bootstrap */
#neubar {
  background: #3d85c6;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4); }

.nav-item .active {
  border-radius: 6px;
  background: linear-gradient(145deg, #3d85c6, #b2d9f5);
  box-shadow: 4px 4px 8px #3d85c8, -4px -4px 8px #3d85c9; }

#neubar .dropdown-menu a:hover {
  color: #454545; }

#neubar .nav-item {
  margin: auto 4px; }

#neubar a {
  padding-left: 12px;
  padding-right: 12px; }

#neubar .dropdown-menu {
  background: #545454; }

a.navbar-brand {
  color: #454545; }

/* Navegacion footer */
ul {
  list-style: none; }
  ul li {
    display: flex;
    justify-content: center; }
  ul a {
    color: #ffffff;
    text-decoration: none;
    align-content: center; }

.navegacion li a {
  text-decoration: none;
  font-size: 20px; }

.navegacion a:hover {
  color: red; }

.encabezado.inicio h1 {
  color: #dd0f0f;
  font-family: "Zhi Mang Xing", cursive;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.5;
  display: flex;
  justify-content: center; }

/* Home-Seccion principal (promociones)*/
main {
  grid-area: main; }

.contenedor-promos {
  background-color: #b8edb9;
  padding: 20px; }

.promocion {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column; }

.contenido-promo {
  padding: 1rem; }
  .contenido-promo h3 {
    font-size: 2.5rem; }

/* Home-seccion video */
.video {
  grid-area: video;
  margin-bottom: 10rem; }
  .video h2 {
    font-size: 2rem; }

/* Home-seccion contacto para solicitar presupuestos */
.imagen-contacto {
  grid-area: imagen-contacto;
  background-image: url(../img/presupuesto.jpg);
  background-position: center center;
  background-size: cover;
  height: 20rem; }

.contenido-contacto {
  color: #1d1d7e;
  padding: 10px; }
  .contenido-contacto h2 {
    font-size: 3rem; }
  .contenido-contacto p {
    font-size: 2.5rem;
    margin: 20px;
    padding: 20px; }

/* Home-seccion caracteristicas destacadas */
.contenedor-nosotros {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

/* Home-seccion nosotros */
.contenedor-nosotros {
  display: flex;
  flex-direction: column; }

.nosotros {
  grid-area: nosotros;
  margin: 5px;
  padding: 5px;
  text-align: center; }
  .nosotros p {
    text-align: left; }

.sizeicon {
  width: 10rem;
  height: 10rem; }

/* FOOTER */
.pie {
  background-color: #3d85c6;
  /* ayudar al footer que se mantenga al final de la pagina */
  margin-top: auto;
  padding: 2px; }

.contenedor-footer {
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.derechos {
  padding-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px; }

.navegacion-footer a:hover {
  color: #0000ff; }

.navegacion-footer ul {
  display: flex;
  padding: 10px; }
  .navegacion-footer ul a {
    padding: 5px; }

.contenedor-redes {
  padding-right: 30px; }
  .contenedor-redes ul {
    display: flex; }
    .contenedor-redes ul li a {
      padding: 5px; }

/* FORMULARIO */
.texto-contacto {
  grid-area: texto-contacto;
  padding: 40px 0; }
  .texto-contacto h2 {
    padding: 10px;
    font-size: 3rem;
    color: red; }

.texto-contacto p {
  padding: 20px;
  font-size: 2rem;
  color: #206b93; }

form {
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  background-color: #abd8e5;
  border-radius: 10px; }

input,
textarea,
label {
  padding: 5px; }

/* PAGINA NOSOTROS */
.nos-main {
  display: grid;
  grid-template-areas: 'identidad' 'nos-intro' 'xp'; }

.identidad {
  grid-area: identidad;
  padding: 60px 0; }
  .identidad p {
    padding: 0 20px; }
  .identidad img {
    margin-top: 20px; }

.nos-intro {
  grid-area: nos-intro;
  background: #b8edb9;
  margin: auto;
  line-height: 50px;
  padding: 48px; }

.xp {
  grid-area: xp;
  padding: 48px; }

.card-nos {
  width: 26rem; }

/* PAGINA PRODUCTOS */
.marca {
  grid-area: marca;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem; }

.articulos .contenedor-caja {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  padding: 3rem; }

.articulos .contenedor-caja .caja {
  text-align: center;
  border: 0.1rem solid #7986c5;
  padding: 2rem;
  border-radius: 10px; }

.articulos .contenedor-caja .caja .imagen {
  padding: 2.5rem 0; }

.articulos .contenedor-caja .caja .imagen img {
  height: 12rem; }

.articulos .contenedor-caja .caja h3 {
  font-size: 2.5rem;
  font-weight: bold; }

.articulos .contenedor-caja .caja .content p {
  font-size: 2rem; }

.articulos .contenedor-caja .caja .content .precio {
  font-size: 2rem; }

/* COLORES SUCURSALES */
.contenedor-sucursal {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  font-size: 20px; }

.img-suc {
  height: 270px;
  width: 310px;
  margin: 1px;
  border-radius: 5%;
  border: solid #a9a7a7 2px; }

.nombre {
  grid-area: nombre; }
  .nombre h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px; }

.datos {
  grid-area: datos; }

.foto {
  grid-area: foto; }

.mapa {
  grid-area: mapa; }

.nombre, .datos, .foto, .mapa {
  padding: 5px;
  text-align: center; }

/* MAPAS con Gradientes diferenciando diferentes areas de la provincia */
.suc-capital {
  background: linear-gradient(to bottom, #64b5f3 0%, #b8edb9 100%); }

.suc-ybuena {
  background: linear-gradient(to bottom, #85cc62 0%, #b8edb9 100%); }

.suc-sur {
  background: linear-gradient(to bottom, #5ad4ce 0%, #b8edb9 100%); }

/*  M E D I A  Q U E R I E S */
/* HEADER */
@media (max-width: 768px) {
  html {
    font-size: 55%; } }

@media (max-width: 450px) {
  html {
    font-size: 50%; } }

@media screen and (min-width: 768px) {
  /* UTILIDADES */
  .seccion {
    margin-top: 6rem;
    margin-bottom: 6rem; }
  .fw-300 {
    font-size: 4rem; }
  .boton, .boton-contacto {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px; }
  h1 {
    font-size: 5rem; }
  /* Home-Seccion principal (promociones)*/
  .contenedor-promos {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
  .promocion {
    margin: 5px;
    padding: 5px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1; }
  /* Home-seccion video */
  .video h2 {
    font-size: 4rem;
    padding: 0; }
  /* Home-seccion contacto para solicitar presupuestos */
  .imagen-contacto {
    height: 30rem; }
  .contenido-contacto {
    padding: 20px; }
    .contenido-contacto p {
      font-size: 1.5rem; }
  /* Home-seccion nosotros */
  .contenedor-nosotros {
    flex-direction: row;
    margin: 5px;
    padding: 3px; }
  /* FOOTER */
  .contenedor-footer {
    justify-content: flex-end; }
  .derechos {
    justify-content: start;
    align-items: center;
    font-size: 22px; }
  /* PAGINA NOSOTROS */
  .xp {
    flex-direction: row; }
  .xp p {
    padding: 30px;
    line-height: 40px; }
  /* COLORES SUCURSALES */
  .contenedor-sucursal {
    flex-direction: row;
    justify-content: space-evenly; }
  .sucursal {
    display: grid;
    grid-template-areas: "nombre nombre" "datos datos" "foto mapa";
    grid-template-rows: 15% 20% 65%;
    grid-template-columns: 50% 50%; } }
