/*  M E D I A  Q U E R I E S */


/* HEADER */
@media screen and (min-width:768px) {

    /* UTILIDADES */
.seccion {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.fw-300 {
    font-size: 4rem;
}
    
// .encabezado {
//     padding: 1rem 3rem 3.5rem;
//     display: flex;
//     justify-content: space-between;
//     align-content: center;
// }
    
// .slogan {
//     grid-area: slogan;
//     }
h1 {
   font-size: 5rem;
}
// .secundario {
//     padding: auto;
// }

// .logo {
//     grid-area: logo;
// }

// .navegacion {
//     grid-area: navegacion;
// }

    /*NAVEGACION*/

    // ul li {
    //     display: inline;
    //     margin: 0 5px;
    // }

    // .navegacion li a {
    //     font-size: 25px;
    // }

    // .navegacion a:hover {
    //     color: red;
    // }

    // .encabezado.inicio h1 {
    //     font-size: 2.8rem;
    //     justify-content: flex-start;
    //     padding: 0 20px;
    // }

    /* Home-Seccion principal (promociones)*/

    .contenedor-promos {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .promocion {
        margin: 5px;
        padding: 5px;
        flex-basis: 300px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    /* Home-seccion video */
    .video h2 {
        font-size: 4rem;
        padding: 0;
    }

    /* Home-seccion contacto para solicitar presupuestos */
    .imagen-contacto {
        height: 30rem;
    }

    .contenido-contacto {
        padding: 20px;
        p {
            font-size: 1.5rem;
        }
    }

    /* Home-seccion nosotros */

    .contenedor-nosotros {
        flex-direction: row;
        margin: 5px;
        padding: 3px;
    }

/* FOOTER */
.contenedor-footer {
    justify-content: flex-end;
}
.derechos {
    justify-content: start;
    align-items: center;
    font-size: 22px;
}

/* PAGINA NOSOTROS */
.xp {
    flex-direction: row;
}

.xp p {
    padding: 30px;
    line-height: 40px;
}

/* COLORES SUCURSALES */
.contenedor-sucursal {
    flex-direction: row;
    justify-content: space-evenly;
}

.sucursal {
    display: grid;
    grid-template-areas:
    "nombre nombre"
    "datos datos"
    "foto mapa";
    grid-template-rows: 15% 20% 65%;
    grid-template-columns: 50% 50%;
}
}