/*NAVEGACION*/
/* Barra navegacion bootstrap */
#neubar {
    background: #3d85c6;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4); }
  
  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #3d85c6, #b2d9f5);
    box-shadow: 4px 4px 8px #3d85c8,
   -4px -4px 8px #3d85c9; }
  
  #neubar .dropdown-menu a:hover {
    color: #454545; }
  
  #neubar .nav-item {
    margin: auto 4px; }
  
  #neubar a {
    padding-left: 12px;
    padding-right: 12px; }
  
  #neubar .dropdown-menu {
    background: #545454; }
  
  a.navbar-brand {
    color: #454545; }
  
  /* Navegacion footer */
  ul {
    list-style: none; 
      li {
        display: flex;
        justify-content: center; }
        a {
            color: #ffffff;
            text-decoration: none;
            align-content: center;
            padding: 20px; }
}

  .navegacion li a {
    text-decoration: none;
    font-size: 20px; }
  
  .navegacion a:hover {
    color: red; }
  
  .encabezado.inicio h1 {
    color: #dd0f0f;
    font-family: $fuente-slogan;
    font-style: italic;
    font-size: 2rem;
    line-height: 1.5;
    display: flex;
    justify-content: center; }
  