/* COLORES SUCURSALES */
.contenedor-sucursal {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    font-size: 20px; }
  
//Mixin para determinar tamaño de fotos y mapas
  @mixin size-img-suc ($alto, $ancho, $espaciado) {
    height: $alto;
    width: $ancho;
    margin: $espaciado;
  }
  .img-suc {
    @include size-img-suc (270px, 310px, 1px);
    border-radius: 5%;
    border: solid rgb(169, 167, 167) 2px;
  }
  
  .nombre {
    grid-area: nombre; }
  
  .datos {
    grid-area: datos; }
  
  .foto {
    grid-area: foto; }
  
  .mapa {
    grid-area: mapa; }
  
  .nombre, .datos, .foto, .mapa {
    padding: 5px;
    text-align: center; }
  
  /* MAPAS con Gradientes diferenciando diferentes areas de la provincia */
  $backg-suc: (
    capital: linear-gradient(to bottom, $color-capital 0%, $color-grad 100%),
    ybuena: linear-gradient(to bottom, $color-ybuena 0%, $color-grad 100%),  
    sur: linear-gradient(to bottom, $color-sur 0%, $color-grad 100%)
);

@each $sucu, $col-sucu in $backg-suc {
    .suc-#{$sucu} {
        background: $col-sucu;
    }
}
  